<p>casa works!</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mz 15 Villa 12</mat-card-title>
      <mat-card-subtitle>Juan Alvárez</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <b>Urbanización:</b>
      <p>Las Joyas - Esmeraldas</p>
      <b>Dirección:</b>
      <p>Guasmo central coop 7 de septiembre mz 15 sl 7</p>
      <b>Notas:</b>
      <p>Guasmo central coop 7 de septiembre mz 15 sl 7</p>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>